 ****** template ***********
 <script id="NotificationTemplate" type="text/html">
   {% _.each(DATA, function(collection){ %}
    <tr>
        <td width='{{=$locals.windowWidth}} * 0.1 + "px"'>
            {% if (collection.NotificationTypeId == $locals.EXCEPTION_PROJECT_DELIVERY) { %}
                <a entityId='{{=collection.EntityId}}' href="../Projects/pgProjectTab.aspx?ProjectId={{=collection.EntityId}}">{{=collection.DisplayID}}</a>
            {% } else if (collection.NotificationTypeId == $locals.EXCEPTION_PROGRAM_MILESTONE ) { %}
                <a entityId='{{=collection.EntityId}}' href="../Programs/pgMainProgram.aspx?progid={{=collection.ProgramId}}">{{=collection.EntityId}}</a>
            {% } else if ( collection.NotificationTypeId == $locals.EXCEPTION_BOW_DATA_QUALITY ) { %}
                <a entityId='{{=collection.EntityId}}' href="../Projects/pgProjectTab.aspx?ProjectId={{=collection.EntityId}}">{{=collection.EntityId}}</a>
            {% } else { %}
                {{=collection.EntityId}}
            {% } %}
        </td>
        <td width='{{=$locals.windowWidth}} * 0.19 + "px"'>
            {% if ( collection.EntityName == null ) { %}
                
            {% } else { %}
                {{=collection.EntityName}}
            {% } %}
        </td>
        <td width='{{=$locals.windowWidth}} * 0.12 + "px"'>
            {% if (collection.ManagerName == null) { %}
                
            {% } else { %}
                {{=collection.ManagerName}}
            {% } %}
        </td>
        <td width='{{=$locals.windowWidth}} * 0.26 + "px"'>
            {% if ( collection.Description == null ) { %}
                
            {% } else { %}
                {{=collection.Description}}
            {% } %}
        </td>
        <td id='tdDetails' width='{{=$locals.windowWidth}} * 0.17 + "px"'>
            {% if ( collection.Details != null ) { %}
                {{=collection.Details}}
            {% } else { %}
                
            {% } %}
        </td>
        <td align='center' width='{{=$locals.windowWidth}} * 0.05 + "px"'>
            {% if ( collection.Help != null) { %}
                <img src='../Images/help_icon_small.gif' alt='{{=collection.Help}}'/>
            {% } else { %}
                
            {% } %}
        </td>
        <td align='center' width='{{=$locals.windowWidth}} * 0.06 + "px"'>
            {% if ( collection.IsDummyApp != "False" ) { %}
                    {% if ( collection.NotificationTypeId == $locals.EXCEPTION_BOW_DATA_QUALITY ) { %}
                        <input type='image' title='edit application allocation' onmouseover="this.style.cursor='hand'" style='border-width:0px;vertical-align: middle;' id='btnShowAppSelection' src='../images/edit.gif'">
                    {% } %}
            {% } else if ( collection.IsDummyApp == "False" && collection.NotificationTypeId == $locals.EXCEPTION_BOW_DATA_QUALITY ) { %}
                    {% if ( collection.NotificationCode.toString().toUpperCase() == 'APPERR03' ) { %}
                        <input type='image' title='Assign SOW on project financial tab' onmouseover='this.style.cursor='hand'' style='border-width:0px;vertical-align: middle;' id='btnSOWAssignment' src='../images/Dollar.png' onclick='RedirectToFinancialTab('" + objNotification.EntityId + "');\">
                   {% } %}
                   {% if ( collection.NotificationCode.toString().toUpperCase() == 'APPERR02' ) { %}
                        <input type='image' title='Update $ across all projects on MPF page' onmouseover='this.style.cursor='hand'' style='border-width:0px;vertical-align: middle;' id='btnSOWDollar' src='../images/Dollar.png' onclick='RedirectToMPFFilter('" + objNotification.EntityId + "','" + objNotification.SOW_ID + "', '" + objNotification.Year + "','" + objNotification.GOC_ID + "','" + objNotification.GOC_NAME + "');'>
                   {% } %}
            {% } %}
            {% if ( collection.NotificationTypeId == $locals.EXCEPTION_PROJECT_DELIVERY ) { %}
                {% if ( collection.ArtifactTypeId == "1" || collection.ArtifactTypeId == "5" ) { %}
                    {% if ( collection.TaskId == 321 || collection.TaskId == 351 || collection.TaskId == 331 || collection.TaskId == 411 || collection.TaskId == 626 || collection.TaskId == 613 || collection.TaskId == 688 ) { %}
                        <input type='image' sectorId='{{=collection.SectorId}}' entityId='{{=collection.EntityId}}' artifactId='{{=collection.ArtifactTypeId}}' iteration='{{=collection.Iteration}}' SDLCProjId='{{=collection.SDLCProjectId}}' RouteId='{{=collection.RouteMapId}}' taskId='{{=collection.TaskId}}' title='Upload Documents' onmouseover="this.style.cursor='hand'" style='border-width:0px;vertical-align: middle;' id='btnUploadExceptionDocuments' src='../images/UploadDoc.png'">
                    {% } else { %}
                        
                    {% } %}
                {% } %}
            {% } %}
        </td>
    </tr>
    {% }); %}
    </script>
    
    ***** settings
    function SetUnderScoreSettings() {
            _.templateSettings = {
                evaluate: /\{%([\s\S]+?)%\}/g,   // execute code: {% code_to_execute %}
                interpolate: /\{\{=(.+?)\}\}/g, // print value: {{= value_name }}
                escape: /\{%-([\s\S]+?)%\}/g
            };
        }
