<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConnectionString" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMTP" value="127.0.0.1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings> 
</configuration>
